.landing {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    min-height: 100vh;
    background: linear-gradient(90deg, #007cf0 0%, #00dfd8 100%);
}

.logoWrapper {
    margin-bottom: 2rem;
}

.logo {
    width: 100px;
}

.heroSection {
    text-align: center;
    margin-bottom: 8rem;
}

.sectionBox {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 1rem;
    padding: 1rem;
    margin-bottom: 5rem;
    width: 50%;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
}

/* Import the font */
@import url('https://fonts.googleapis.com/css2?family=Helvetica+Neue&display=swap');

body {
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

.heroTitle {
    font-size: 7rem;
    /* Headings are typically larger, 3.2rem is about 51px */
    font-weight: 600;
    /* Shopify typically uses semi-bold font weights for headings */
    /* Rest of your styles */
}

.heroText,
.sectionText {
    font-size: 1.6rem;
    /* Body text can be around 1.6rem, which is about 26px */
    font-weight: 400;
    /* Shopify typically uses regular font weight for body text */
    /* Rest of your styles */
}

.sectionTitle {
    font-size: 3rem;
    /* Sub-headings can be smaller than main headings, 2.4rem is about 38px */
    font-weight: 600;
    /* Sub-headings typically use semi-bold font weight as well */
    /* Rest of your styles */
}

.ctaButton {
    font-size: 1.2rem;
    color: #FFF;
    background-color: #3B82F6;
    padding: 1rem 2rem;
    border-radius: 0.375rem;
    text-decoration: none;
    transition: background-color 0.2s ease-in-out;
}

.ctaButton:hover {
    background-color: #2563EB;
}

.ctaButtonBig {
    font-size: 1.5rem;
    color: #FFF;
    background-color: #3B82F6;
    padding: 1.2rem 2.4rem;
    border-radius: 0.375rem;
    text-decoration: none;
    transition: background-color 0.2s ease-in-out;
    font-weight: bold;
}

.ctaButtonBig:hover {
    background-color: #2563EB;
}