.landing {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.landingPage {
    background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
    color: #ffffff;
}

/* Other class styles */

.sectionBox {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}

.heroSection,
.missionSection,
.goalsSection {
    text-align: center;
    margin-bottom: 3rem;
}

.heroTitle {
    font-size: 2.5rem;
    color: #374151;
    margin-bottom: 1rem;
}

.heroText,
.sectionText {
    font-size: 1.2rem;
    color: #4B5563;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto 2rem auto;
}

.sectionTitle {
    font-size: 2rem;
    color: #374151;
    margin-bottom: 1rem;
}

.ctaButton {
    font-size: 1rem;
    color: #FFF;
    background-color: #3B82F6;
    padding: 0.75rem 1.5rem;
    border-radius: 0.375rem;
    text-decoration: none;
    transition: background-color 0.2s ease-in-out;
}

.ctaButton:hover {
    background-color: #2563EB;
}